{{#if beer}}

<div class="col mb-4">
    <div class="card">
        <img src="{{beer.image_url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{beer.name}}</h5>
            <p class="card-text">{{beer.description}}</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            {{#each beer.ingredients}}

            {{#each this}}
            <h1>{{name}}</h1>
            {{/each}}
            <li class="list-group-item">{{@key}}</li>
            {{/each}}
        </ul>
    </div>
</div>

{{/if}}